<h1><%= @user.name %>のページ</h1><br>
<p class="mypage">名前: <%= @user.name %></p>
<p class="mypage">メールアドレス: <%= @user.email %></p>

<%= link_to t('.index'), tasks_path, class: "btn btn-outline-primary my-lg-4" %>